header {
    position: sticky;
    width: 100%;
    color: #ffffff;
    top:0;
    left: 0;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(5px);
    z-index: 100;
}

header
h1 {
    padding-left: 15px;
}

.nav {
    color: rgb(255, 255, 255);
    position:absolute;
    justify-content: center;
    width: 100%;
    top: 30px;
    text-align: right;
}

header
a {
    padding-right: 50px;
    font-size: 20px;
    
}

h4{
    color: white;
    text-decoration: none;
    transition-property: color ;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    transition-delay: 100ms;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
    transition-property: color ;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    transition-delay: 100ms;
}

header a:hover,
header a.active {
  color: #f36d00;
}

.progect h4:hover,
.progect h4.active {
  color: #f36d00;
}

.about {
    display: flex;
    padding-top: 100px;
    padding-right: 50px;
}

.about
img {
    height: auto;
    width: 500px;
    border-radius: 15%;
    
}


.text
p {
    width: 80%;
    font-size: 23px;
    margin-left: 70px;
    background-color: rgba(0, 0, 0, 0.171);
    line-height: 40px;
    border-radius: 10%;
}

.text
h3 {
    padding-top: 50px;
    margin-left: 300px;
    font-size: 37px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.363);
    width: 40%;
    text-align: center;
    border-radius: 10%;
    padding: 25px;
}

.photo {
    display: flex;
    float: right;
}

.progect {
    margin-top: 100px;
}

.progect
h3 {
    font-size: 37px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.363);
    width: 30%;
    text-align: center;
    border-radius: 10%;
    margin-left: 16%;
    margin-bottom: 70px;
    margin-top: 200px;
    padding: 25px;
}



.progect
h4 {
    font-size: 25px;
    margin-left: 70px;
    line-height: 40px;
    padding-left: 10px;
    margin-left: 18%;
    line-height: 20px;
}

summary {
    list-style-type: none;
    
}

details {
    cursor: pointer;
    overflow: hidden;
}

@keyframes details-show {
    from {
      opacity:0;
      transform: var(--details-translate, translateY(-0.5em));
    }
}
  
details[open] > *:not(summary) {
animation: details-show 150ms ease-in-out;
}

details[close] > *:not(summary) {
    animation: details-show 150ms ease-in-out;
    }

.prog
img {
    width: 1000px;
    margin-left: 340px;
}

.skills 
h3 {
    margin-top: 200px;
    text-align: center;
    font-size: 37px;
    background-color: rgba(0, 0, 0, 0.363);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.list {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 70px;
}

.list
a {
    margin-left: 20px;
    font-size: 20px;
}

.list a:hover,
.list a.active {
  color: #f36d00;
}

.list
img {
    display: flex;
    width: 30px;
    justify-content: center;
}

#css {
    width: 35px;
    margin-bottom: 0px;
}

#html {
    margin-left: 15px;
    margin-bottom: 5px;
}

#js {
    margin-left: 26px;
    margin-bottom: 5px;
}

#git {
    margin-bottom: 5px;
}

#gh {
    margin-left: 16px;
    margin-bottom: 5px;
}

#node {
    margin-left: 6px;
    margin-bottom: 5px;
}

footer {
    width: 100%;
    color: #ffffff;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(5px);
    padding-bottom: 10px;
}

footer
h3 {
    text-align: center;
    font-size: 37px;
    padding-top: 10px;
}

footer
p {
    font-size: 23px;
    padding-left: 40px;
    padding-bottom: 10px;
    line-height: 15px;
}

body {
    background-image: url(./imagese/ogon-koster-ugli-plamia.jpg);
    background-attachment: fixed;
}

p, 
h1,
h3,
ul,
a,
h4 {
    color: aliceblue;
} 