header {
    position: sticky;
    width: 100%;
    border-bottom: solid 2px #ffffff;
    color: #ffffff;
    top:0;
    left: 0;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(5px);
    z-index: 100;
}

header
h1 {
    padding-left: 15px;
}

header 
div {
    float: right;
}

header
a {
    padding-right: 50px;
    font-size: 20px;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

header
img {
    width: 60px;
    height: 60px;
    padding-top: 10px;
    padding-left: 10px;
} 

.point {
    color: rgb(255, 255, 255);
    position:absolute;
    justify-content: center;
    width: 100%;
    top: 30px;
    text-align: right;
}

.club {
    color: #FFFFFF;
    text-align: center;
    padding-top: 100px;
    line-height: 70px;
}


.club
p {
    font-size: 25px;
}

.events {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 71px;
}

.info {
    color: rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    border-bottom: solid 2px #000000;
    position: absolute;
    z-index: 90;
    justify-content: center;
    width: 100%;
    height: 150px;
    text-align: center;
    top: 0;
    line-height: 20px;
}

.info 
h3 {
    font-size: 40px;
    text-shadow: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.info
p {
    font-size: 25px;
    font-weight: bold;
}

.events
img {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.photo {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    color: #000000;
    top: 180px;
}

#a {
    background-image: url(./imagese/dan-cristian-padure-I_csqCWC_3o-unsplash.jpg);
    padding: 5px;
    margin: 44px;
    margin-top: 220px;
    border: solid 1px #000000;
    max-width: 210px;
}

#b {
    background-image: url(./imagese/dan-cristian-padure-I_csqCWC_3o-unsplash.jpg);
    padding: 5px;
    margin: 45px;
    border: solid 1px #000000;
    max-height: 300px;
}


#c {
    background-image: url(./imagese/dan-cristian-padure-I_csqCWC_3o-unsplash.jpg);
    padding: 5px;
    margin: 45px;
    border: solid 1px #000000;
    max-height: 300px;
    max-width: 210px;
}

#d {
    background-image: url(./imagese/dan-cristian-padure-I_csqCWC_3o-unsplash.jpg);
    padding: 5px;
    margin: 44px;
    margin-top: 220px;
    border: solid 1px #000000;
    max-width: 210px;
}

.photo
img {
    height: 200px;
    width: 200px; 
    margin: 5px;
}

.photo
p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.quote {
    color: #FFFFFF;
    text-align: center;
    padding-top: 200px;
    font-size: 25px;
    width: 80%;
    margin:auto;
}

.deal {
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(5px);
    color: #FFFFFF;
    text-align: center;
    margin-top: 200px;
    line-height: 70px;
    border-bottom: solid 1px #ffffff;
    border-top: solid 1px #ffffff;
}

.deal
h3 {
    margin-top: 0;
    font-size: 40px;
}

.deal
p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.deal
img {
    width: 100px;
    margin-top: 30px;
    margin-bottom: 0;
}

footer {
    text-align: left;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    border-top: solid 1px #ffffff;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(5px);
    margin-top: 150px;
    margin-left: 0;
    margin-bottom: 0;
}

footer
h3 {
    text-align: center;
    font-size: 30px;  
}

body {
    background-image: url(./imagese/olena-sergienko-Cq5NaI0yKBE-unsplash.jpg);
    background-attachment: fixed;
    color:#ffffff;
}